.formcursion {
    display: flex;
    height: 730px;
    justify-content: center;
    align-items: center;
    background: var(---, linear-gradient(116deg, #5D97FF 5.41%, #005BFF 46.58%, #003CA9 102.27%));

    .formcursion__tile {
        height: 687.066px;
        flex-shrink: 0;
        border-radius: 12.653px;
        background: #FFF;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .formcursion_text {
        color: #005BFF;
        font-family: Disket Mono;
        font-size: 55.674px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        width: 636.453px;
        height: 144.246px;
        flex-shrink: 0;
        padding-top: 70.86px;
        padding-left: 98.69px;
    }

    .whitebox {
        img {
            padding-left: 84.78px;
            max-width: 100%;
            height: auto;
        }
    }

    @media only screen and (max-width: 768px) {
        .formcursion__tile {
            max-width: 60%;
        }
    }

    @media only screen and (max-width: 650px) {
        .formcursion_text {
            width: 40%;
        }
    }

    .formazapisi {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-left: 473px;

    }

    form {
        display: flex;
        gap: 12.653px;
        flex-shrink: 0;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: 108px;
        padding-top: 52px;

        input {
            display: flex;
            padding: 22.776px 25.306px;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            border-radius: 12.653px;
            border: 1.265px solid var(--Text, #666);
            background: #FFF;
            color: var(--Text, #666);
            font-family: Inter;
            font-size: 20.245px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .submitbutton {
            display: flex;
            padding: 22.776px 25.306px;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-shrink: 0;
            border-radius: 12.653px;
            background: blue;
            color: var(--White, #FFF);
            font-family: Inter;
            font-size: 20.245px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }


    }
}



.logo {
    display: flex;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    gap: 11.549px;
}

.line {
    width: 1.333px;
    height: 40.165px;
    background: #005BFF;
}

.header-menu {
    display: flex;
    align-items: flex-start;
    gap: 42px;
    color: var(--Black-text, #222);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    align-items: center
}

.header-menu a {
    color: var(--Black-text, #222);
    text-decoration: none;
}

.header-menu a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.signinbutton {
    display: flex;
    padding: 18px 20px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    background: var(--Unnamed-Color, #005BFF);
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menubuttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.signin {

    color: var(--Black-text, #222);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.signinlogo {
    width: 17.391px;
    height: 20px;
    flex-shrink: 0;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11.549px;
}

.footer__info {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_button_call {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
    text-decoration-line: underline;
}

.footer_number {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 36px */
}

.footer_contacts {
    display: flex;
    flex-direction: column;
}

.parent {
    width: 587px;
    height: 655px;
    flex-shrink: 0;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    /* Вы можете настроить максимальную ширину в соответствии с вашим дизайном */
    margin: 0 auto;
    /* Центрирование формы по горизонтали */
}

h1 {
    margin-bottom: 10px;
}

.form-control {
    border-radius: 10px;
    border: 1px solid var(--Gray, #D1D1D1);
    background: #FFF;
    padding: 8px;
    /* Подстройте отступы по вашему усмотрению */
    margin-bottom: 10px;
    /* Расстояние между инпутами */
    width: 100%;
    /* Растянуть инпуты на всю ширину контейнера */
}
.enter {
    border-radius: 10px;
    background: var(--Blue, #005BFF);
    color: #FFF;
    /* Цвет текста на кнопке, чтобы он был виден на фоне */
    padding: 10px;
    /* Подстройте отступы по вашему усмотрению */
    cursor: pointer;
}

.forgot {
    margin-bottom: 10px;
}
